.fixed{
  position: fixed;
  left: 0;
  width: 100%;
}
%pink{
  color: $color_FC5D7B;
}
.relative{
  position: relative;
}
.bg_white{
  background: $white;
}
.pointer{
   cursor:pointer;
 }
.block{
  display: block;
}
.none{
  display: none;
}
.inline_block{
  display: inline-block;
}
.cover{
  background-size:cover important();
}
.contain{
  background-size:contain important();
}
.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix{
  zoom: 1;
}
.float_left{
  float:left;
}
.float_right{
  float:right;
}
.padding_l_r_24{
  padding:0 px2rem(24);
}
.padding_24{
  padding:px2rem(24);
}
.padding_b_120{
  padding-bottom: px2rem(120);
}
.padding_t_122{
  padding-top: px2rem(120);
}
.padding_tb_120{
  padding: px2rem(122) 0 px2rem(120) 0;
}

.padding_tb_100{
  padding: px2rem(122) 0 px2rem(100) 0;
}
.margin_b_20{
  margin-bottom: px2rem(20);
}
.text_center{
  text-align: center;
}
.text_right{
  text-align: right;
}
.flex{
  display: flex;
  &.flex_v_center{
    align-items:center;
  }
  .flex_item{
    flex: 1;
  }
}
.xoverflow_scroll{
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
