@charset "utf-8";
@import "../../../assets/scss/base/necessary.scss";
$color_e1e9f0:#e1e9f0;
.collect{
  a{
    color: $color_424242;
  }
  li{
    @include px2px(font-size,30);
    border-bottom: solid 1px $color_E1E9F0;
    &:last-child{
      border-bottom: none;
    }
    h1{
      @include clamp(2);
    }
  }
  .itemInfo{
    /* flex 纵向从上往下排列，用于上面是标题，底部是价格类似情况*/
    justify-content: space-between;
    flex-direction: column;
  }
  .bottom{
    align-items: baseline;
    @include px2px(font-size,24);
    .price{
      @include px2px(font-size,32);
      color:$color_FC5D7B;
      &:before{
        content: '¥';
        display: inline-block;
        margin-right: px2rem(7);
        @include px2px(font-size,22);
        vertical-align: baseline;
      }
    }
    .num{
      color:$color_9E9E9E;
    }
  }
  .bg_lazyload{
    width:px2rem(184);
    height:px2rem(184);
    margin-right: px2rem(20);
    img{
      width:100%;
      height: 100%;
    }
  }
}

